{{define "subject"}}Welcome to AnimeVerse!{{end}}
{{define "plainBody"}}
Hi,
Thanks for signing up for an AnimeVerse account. We're excited to have you on board!
For future reference, your user ID number is {{.userID}}.
Please open the following link on your device to activate your account:
http://localhost:8081/activate?token={{.activationToken}}

Alternatively, you can use this token: {{.activationToken}}

Please note that this is a one-time use token and it will expire in 3 days.
Thanks,
The AnimeVerse Team
{{end}}
{{define "htmlBody"}}
<!doctype html>
<html>
<head>
 <meta name="viewport" content="width=device-width" />
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
 <p>Hi,</p>
 <p>Thanks for signing up for an AnimeVerse account. We're excited to have you on board!</p>
 <p>For future reference, your user ID number is {{.userID}}.</p>
 <p>Please click the link below to activate your account:</p>
 <p>
    <a href="http://localhost:8081/activate?token={{.activationToken}}" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Activate Account</a>
 </p>
 <p>Alternatively, you can use this token: <code>{{.activationToken}}</code></p>
 <p>Please note that this is a one-time use token and it will expire in 3 days.</p>
 <p>Thanks,</p>
 <p>The AnimeVerse Team</p>
</body>
</html>
{{end}}
